.searchForm {
  width: 100%;
  position: relative;
}
.searchForm > input {
  font-size: 15px;
  border-radius: 5px;
  padding-left: 8px;
  background-color: #f6f6f6;
  color: gray;
  width: 100%;
  height: 100%;
  outline: none;
}

.listDiv {
  overflow-y: scroll;
  overflow: auto;
  padding-bottom: 10px;
  padding-top: 16px;
  position: absolute;
  z-index: 10;
  max-height: 350px;
  width: 100%;
  border-radius: 5px;
  margin-top: 8px;
  border: 2px solid #f6f6f6;
  background: #fff;
}

.listDiv::-webkit-scrollbar{
  display: none;
}
