@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.categoriesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 82vh;
}
.navContainer {
  padding: 21px 20px 21px 30px;
  min-height: 100vh;
  float: left;
  background-color: #ff7979;
  border-bottom-right-radius: 28.5px;
}

.navContainer h1 {
  font-size: 30px;
  color: white;
  font-family: Inter;
  font-weight: 500;
}

.cocktailsContainer{
  height: calc(100vh - 130px);
  padding: 50px 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
}

main{
  overflow-y: auto;
}